@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap");
@font-face {
  font-family: "brandon";
  src: url("../fonts/brandon-grotesque-black.otf"); }

@font-face {
  font-family: "brandon-light";
  src: url("../fonts/brandon-grotesque-light.otf"); }

@font-face {
  font-family: "customcraft";
  src: url("../fonts/CustomCraft-Regular.ttf"); }

h1 {
  font-family: "brandon", serif;
  color: black;
  text-align: center;
  font-size: 4rem; }

.sectiontitle {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.sectiontitle__title {
  font-family: "brandon", serif;
  color: #7c1d00;
  text-align: center;
  font-size: 5rem;
  padding: 3%; }

.sectiontitle__subtitle {
  font-size: 4rem;
  color: black;
  font-family: "brandon-light", serif;
  text-align: center; }

p {
  font-size: 1.5rem;
  font-family: "brandon-light", serif;
  text-align: center; }

.label_contacto {
  font-size: 1.5rem;
  font-family: "brandon-light", sans-serif; }

.text_aclaraciones {
  font-size: 1.3rem;
  font-family: "brandon-light", sans-serif; }

.header {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .header-index {
    height: 100vh;
    background-image: url("../multimedia/headerindex.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header-quienessomos {
    height: 70vh;
    background-image: url("../multimedia/headerquienes.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header-nuestrasbirras {
    height: 70vh;
    background-image: url("../multimedia/headernuestras.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header-cerveblog {
    height: 70vh;
    background-image: url("../multimedia/headerdonde.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header-contacto {
    height: 70vh;
    background-image: url("../multimedia/headercontacto.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header .header__maintitle {
    width: 100%;
    text-align: center;
    font-family: "brandon", serif;
    color: whitesmoke;
    text-shadow: 2px 0 0 black;
    font-size: 7rem; }
  .header .header__title {
    width: 100%;
    padding-top: 5%;
    text-align: center;
    font-family: "brandon", serif;
    color: whitesmoke;
    text-shadow: 2px 0 0 black;
    letter-spacing: 2px;
    font-size: 3rem; }
  .header .nav {
    background-color: #3a2114; }
    .header .nav .nav-link {
      text-transform: uppercase; }
    .header .nav .nav-link:hover {
      color: #e8ab0e !important; }
    .header .nav .nav__navbar {
      font-family: "brandon", serif;
      color: white;
      font-size: 2rem; }
    .header .nav a {
      cursor: url("../multimedia/cursorbigote.png"), auto; }
  .header .navbar-logo {
    margin-left: 2%; }
  .header .navbar-img {
    width: 130px; }
  @media (min-width: 1600px) {
    .header .header__maintitle {
      font-size: 10rem; }
    .header .header__title {
      font-size: 5rem; } }

.footer-bigote {
  background-color: #3a2114;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px; }

.footer-bigote .footer-datos p {
  color: #8F9296;
  font-size: 14px;
  margin: 0;
  text-align: center; }

/* Footer links */
.footer-bigote p.footer-links {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 10px 0 10px 0;
  padding: 0;
  transition: ease .25s; }

.footer-bigote p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s; }

.footer-bigote .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-bigote .footer-redes {
  margin-top: 6px;
  width: 100%;
  text-align: center; }

.footer-bigote .footer-redes a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383B;
  border-radius: 2px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  line-height: 35px;
  margin-left: 3px; }

.enlaces_footer {
  color: #e08b00; }

.enlaces_footer:hover {
  color: #e8ab0e; }

.footer-bigote .footer-redes a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  background-color: #E8AB0E; }

.footer-bigote p.footer-links a:hover {
  color: #e8ab0e; }

/* Media Queries */
/*   @media (max-width: 2600px) {
    .footer-bigote .footer-left, .footer-bigote .footer-right {
      text-align: center;
    }
    .footer-bigote .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-bigote .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
 */
.indexingredientes {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e08b00; }
  .indexingredientes_fotos {
    width: 200px; }
  .indexingredientes_frase {
    display: none; }

.indexfoto {
  min-height: 80vh;
  background-image: url("../multimedia/barrel.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5%; }

.indexfoto__textomes {
  padding: 5%; }
  .indexfoto__textomes-texto {
    color: white;
    font-size: 8rem;
    font-family: "customcraft", serif; }

.indexfoto__birrames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .indexfoto__birrames__texto {
    width: 65%;
    padding: 5%; }
  .indexfoto__birrames__img {
    padding: 5%;
    transform: scale(0.8); }
  .indexfoto__birrames__texto-title {
    color: white;
    font-family: "brandon", serif;
    font-size: 7rem; }
  .indexfoto__birrames__texto-txt {
    color: white;
    font-size: 3rem;
    font-family: "brandon-light", serif; }

.card-index {
  margin: 50px auto 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  max-width: 1200px; }

.card-index-cards {
  width: 350px;
  height: 380px;
  margin: 1%;
  background-color: #e08b00;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  overflow: hidden;
  color: white;
  font-family: "brandon", serif;
  text-align: center; }

.card-index-cards img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out; }

.card-index-cards .text {
  /*   z-index:99; */
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px); }

.card-index-cards h1 {
  margin: 0; }

.card-index-cards h2 {
  margin: 20px 0 0 0;
  transform: translateX(200px);
  font-family: "brandon", serif; }

.card-index-cards p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s; }

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out; }

.card-index-cards:hover {
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.253);
  transform: scale(1.05); }

.card-index-cards:hover h1 {
  color: #7c1d00; }

.card-index-cards:hover img {
  opacity: 0.2; }

.card-index-cards:hover .animate-text {
  transform: translateX(0);
  opacity: 1; }

.dots {
  position: absolute;
  bottom: 20px;
  right: 30px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.dots span {
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px); }

.card-index-cards:hover span {
  opacity: 1;
  transform: translateY(0px); }

.dots span:nth-child(1) {
  transition-delay: 0.05s; }

.dots span:nth-child(2) {
  transition-delay: 0.1s; }

.dots span:nth-child(3) {
  transition-delay: 0.15s; }

@media (max-width: 1000px) {
  .card-index {
    flex-direction: column;
    width: 350px; } }

.header__title {
  padding-bottom: 4%; }

.index-newsletter {
  margin-top: 2%;
  padding: 80px 0;
  background: #e08b00; }

.index-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }

.index-newsletter .single .form-control {
  font-size: 1.5rem;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px; }

.index-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #7c1d00; }

.index-newsletter .single .btn {
  font-size: 1.5rem;
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #3a2114;
  color: #fff; }

.quienes_description {
  padding-top: 5%;
  padding-bottom: 5%; }
  .quienes_description-foto {
    display: flex;
    justify-content: center;
    align-items: center; }
  .quienes_description-texto {
    font-size: 2.5rem;
    font-family: "brandon-light", sans-serif;
    padding-left: 5%;
    padding-right: 5%; }

.section_cervezas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5%; }

.section_cervezas_card {
  width: auto;
  text-align: center; }

.section_cervezas_card-img {
  padding-bottom: 10%; }
  .section_cervezas_card-img:hover {
    transform: rotate(10deg); }

.gridgaleria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "foto1 foto2 foto2 foto2" "foto3 foto3 foto3 foto4" "foto5 foto6 foto6 foto6"; }

.itema {
  grid-area: foto1;
  background-image: url("../multimedia/foto1.jpg");
  background-size: cover; }

.itema:hover {
  opacity: 60%; }

.itemb {
  grid-area: foto2;
  background-image: url("../multimedia/foto2.jpg");
  background-size: cover; }

.itemb:hover {
  opacity: 60%; }

.itemc {
  grid-area: foto3;
  background-image: url("../multimedia/foto3.jpg");
  background-size: cover; }

.itemc:hover {
  opacity: 60%; }

.itemd {
  grid-area: foto4;
  background-image: url("../multimedia/foto4.jpg");
  background-size: cover; }

.itemd:hover {
  opacity: 60%; }

.iteme {
  grid-area: foto5;
  background-image: url("../multimedia/foto5.jpg");
  background-size: cover; }

.iteme:hover {
  opacity: 60%; }

.itemf {
  grid-area: foto6;
  background-image: url("../multimedia/foto6.jpg");
  background-size: cover; }

.itemf:hover {
  opacity: 60%; }

.fotosgrid {
  width: 100%;
  display: block; }

.contacto {
  padding-bottom: 4%; }

textarea {
  min-height: 100px; }

.boton_primario {
  background-color: #e08b00 !important;
  border: 0 !important;
  font-family: "brandon-light", serif;
  font-size: 1.5rem !important; }
  .boton_primario:hover {
    background-color: #7c1d00 !important; }

.boton_secundario {
  background-color: #3a2114 !important;
  font-family: "brandon-light", serif;
  font-size: 1.5rem !important; }
  .boton_secundario:hover {
    background-color: #7c1d00 !important; }

.boton_busqueda {
  color: #e08b00 !important; }

.campo_texto {
  font-family: "brandon-light", serif;
  font-size: 1.5rem !important; }

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 136, 0, 0.6) !important;
  border: 0 !important; }

.enlaces_blog {
  color: #7c1d00;
  font-family: "brandon", serif;
  font-size: 1.3rem !important;
  font-weight: bold !important; }
  .enlaces_blog:hover {
    font-weight: bold !important;
    color: #e08b00;
    cursor: pointer; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
