.boton_primario {
 background-color: $amarilloacento !important;
 border: 0 !important;
}

.boton_busqueda {
    color: $amarilloacento !important;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 136, 0, 0.6) !important;
    border: 0 !important;
}

.enlaces_blog {
    color: $colorladrillo;
    font-weight: bold !important;
    &:hover {
        font-weight: bold !important;
        color: $amarilloacento;
    }
}