.header-title
        {
          text-align: center;
          color:#00bfff;
        }

        #tip 
        {
            display:none;  
        }

        .fadeIn
        {
          animation-duration: 3s;
        }

        .form-control
        {
        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

        .form-control:focus
        {
        	border:1px solid #00bfff;
        }

        .textarea-contact
        {
        	resize:none; 
        }

        .btn-send
        {
        	border-radius: 0px;
        	border:1px solid #00bfff;
        	background:#00bfff;
        	color:#fff; 
        }

        .btn-send:hover
        {
        	border:1px solid #00bfff;
        	background:#fff;
        	color:#00bfff;
        	transition:background 0.5s;   
        }


/* 
#textoformulario{
    text-align: left;
}

#tituloform {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}


#cajaformulario {
    width: 70%;
    margin-left: 15%;
}

#textoformulario {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.botones {
    margin-left: 1%;
}
 */
