
#textoformulario{
    text-align: left;
}

#tituloform {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}


#cajaformulario {
    width: 70%;
    margin-left: 15%;
}

#textoformulario {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.botones {
    margin-left: 1%;
}