.footer {
    width: 100%;
    background-color: $marronoscuro;

    &__form{
        width: 50%;
    }
    &__text {
        padding: 1%;
        font-family: 'Oswald', sans-serif;
        color: whitesmoke;
    }
}