.header {
    background-size: cover;
    background-position: center;
    
        &-index {          
            height: 100vh;
            background-image: url('../multimedia/headerindex.jpg');
            background-size: cover;
        }
        &-quienessomos {
            height: 70vh;
            background-image: url('../multimedia/headerquienes.jpg');
            background-size: cover;
        }
        &-nuestrasbirras {
            height: 70vh;
            background-image: url('../multimedia/headernuestras.jpg');
            background-size: cover;
        }
        &-cerveblog {
            height: 70vh;
            background-image: url('../multimedia/headerdonde.jpg');
            background-size: cover;
        }
        &-contacto {
            height: 70vh;
            background-image: url('../multimedia/headercontacto.jpg');
            background-size: cover;
        }        
        .header__maintitle {
            padding-top: 20%;
            width: 100%;
            text-align: center;
            font-family: "brandon", serif;
            color: whitesmoke;
            text-shadow: 2px 0 0 black;
            font-size: 7rem;
        }
        .header__title {
            width: 100%;
            padding-top: 5%;
            text-align: center;
            font-family: "brandon", serif;
            color: whitesmoke;
            text-shadow: 2px 0 0 black;
            letter-spacing: 2px;
            font-size: 3rem;
        }

    .nav {
        background-color: $marronoscuro;
        .nav-link {
            text-transform: uppercase;
        }
        .nav-link:hover{
            color: $amarilloalternativo !important;
        }
        .nav__navbar {
            font-family: "brandon", serif;
            color: white;
            font-size: 2rem;        
        }    
    }

    @media (max-width: 2000px) {
        .navbar-logo {
        width: 150px;
        padding-left: 2%;  
        }
        .header__maintitle {
            padding-top: 25%;
        }
    }

    @media (min-width: 2000px) {
        .navbar-logo {
        width: 200px;
        padding-left: 2%;  
        }
        .header__maintitle {
            font-size: 10rem;   
        }
        .header__title
        {
        font-size: 5rem;
        }
    }


}