.header {
    background-size: cover;
    background-position: center;
    
        &-index {          
            height: 100vh;
            background-image: url('../multimedia/headerindex.jpg');
        }
        &-quienessomos {
            height: 70vh;
            background-image: url('../multimedia/headerquienes.jpg');
        }
        &-nuestrasbirras {
            height: 70vh;
            background-image: url('../multimedia/headernuestras.jpg');
        }
        &-cerveblog {
            height: 70vh;
            background-image: url('../multimedia/headerdonde.jpg');
        }
        &-contacto {
            height: 70vh;
            background-image: url('../multimedia/headercontacto.jpg');
        }
        .header__title {
            padding-top: 10%;
            width: 100%;
            text-align: center;
            font-family: "brandon", serif;
            color: whitesmoke;
            text-shadow: 2px 0 0 black;
            letter-spacing: 2px;
            font-size: 2.5rem;
        }
        .header__maintitle {
            padding-top: 3%;
            width: 100%;
            text-align: center;
            font-family: "brandon", serif;
            color: whitesmoke;
            text-shadow: 2px 0 0 black;
            font-size: 7rem;
        }
}

.nav {
    background-color: rgba(0, 0, 0, 0.596);
    .nav-link {
        text-transform: uppercase;
    }
    .nav-link:hover{
        color: $amarilloalternativo !important;
    }
    .nav__navbar {
        font-family: "brandon", serif;
        color: white;
        font-size: 2rem;
    }    
}

.navbar-logo {
    width: 100px;
}