.indexingredientes {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $amarilloacento;
    &_fotos {
        width: 200px;
    }
    &_frase {
        display: none;
    }
}

@media (max-width: 764px) {
    .indexingredientes_frase {
      display: block;      
    }
    .indexingredientes_fotos {
        display: none;
    }
}

.indexfoto {
    height: 80vh;
    background-image: url('../multimedia/indexfoto.jpg');
    background-size: cover;
    background-position: center;
}

.index_card {
    position: relative;
    width: 25%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .index_card:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  


/* .indexgaleria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 4%;
    
    &__card:hover{
        opacity: 80%;
    }
} */

