.indexingredientes {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $amarilloacento;
    &_fotos {
        width: 200px;
    }
    &_frase {
        display: none;
    }
}



.indexfoto {
    height: 80vh;
    background-image: url('../multimedia/indexfoto.jpg');
    background-size: cover;
    background-position: center;
}

.card-index
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:space-between;
  max-width:1200px;
}
.card-index-cards
{
  width:350px;
  height:380px;
  margin:1%;
  background-color: $amarilloacento;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  overflow:hidden;
  color:white;
  font-family: "brandon", serif;
  text-align: center;
  
}
.card-index-cards img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.card-index-cards .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.card-index-cards h1
{
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.card-index-cards h2
{
  margin:20px 0 0 0;
   transform: translateX(200px);
   font-family: "brandon", serif;
}
.card-index-cards p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.card-index-cards:hover
{

box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.253);
  transform:scale(1.05);
}
.card-index-cards:hover img
{
  opacity: 0.2;
}
.card-index-cards:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.card-index-cards:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .card-index {
   flex-direction: column;
    width:400px;
  }
}

.header__title
{
    padding-bottom: 4%;
}
.index-newsletter {
    margin-top: 2%;
    padding: 80px 0;
    background: $amarilloacento;
    }
    
    .index-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    
    .index-newsletter .single .form-control {
    font-size: 1.5rem;
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
    .index-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: $colorladrillo; }
    .index-newsletter .single .btn {
    font-size: 1.5rem;
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: $marronoscuro;
    color: #fff;
    }


