.quienes_description {
    padding-top: 5%;
    padding-bottom: 5%;
    &-foto {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-texto {
        font-size: 2.5rem;
        font-family: "open sans", sans-serif;
        padding-left: 5%;
        padding-right: 5%;
    }
}
