@mixin maintitle {
    font-family: 'Oswald', sans-serif;
    color: $colorladrillo;
    text-align: center;
    font-size: 4rem;
}

h1 {
    @include maintitle;
} 

@mixin subtitles {
    font-size: 3rem;
    color: $colornegro;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h2 {
    @include subtitles;
} 

.sectiontitle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.sectiontitle__title {
    font-family: 'Oswald', sans-serif;
    color: $colorladrillo;
    text-align: center;
    font-size: 5rem;
    padding: 4%;
}

p {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}