@font-face {
    font-family: "brandon";
    src: url("../fonts/brandon-grotesque-black.otf");
}

@font-face {
    font-family: "brandon-light";
    src: url("../fonts/brandon-grotesque-light.otf");
}

@font-face {
    font-family: "customcraft";
    src: url("../fonts/CustomCraft-Regular.ttf");
}

@mixin maintitle {
    font-family: "brandon", serif;
    color: $colornegro;
    text-align: center;
    font-size: 4rem;
}

h1 {
    @include maintitle;
} 


.sectiontitle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.sectiontitle__title {
    font-family: "brandon", serif;
    color: $colorladrillo;
    text-align: center;
    font-size: 5rem;
    padding: 3%;
}

.sectiontitle__subtitle {
    font-size: 4rem;
    color: $colornegro;
    font-family: "brandon-light", serif;
    text-align: center;
}

p {
    font-size: 1.5rem;
    font-family: "brandon-light", serif;
    text-align: center;
}

.label_contacto {
    font-size: 1.5rem;
    font-family: "brandon-light", sans-serif;
}

.text_aclaraciones {
    font-size: 1.3rem;
    font-family: "brandon-light", sans-serif;
}