@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* HEADER Y NAVBAR DE LAS SECCIONES*/
.header {
  background-size: cover;
  background-position: center;
}

.header-index {
  height: 100vh;
  background-image: url("../multimedia/headerindex.jpg");
  background-attachment: fixed;
}

.header-quienessomos {
  height: 70vh;
  background-image: url("../multimedia/headerquienes.jpg");
}

.header-nuestrasbirras {
  height: 70vh;
  background-image: url("../multimedia/headernuestras.jpg");
}

.header-cerveblog {
  height: 70vh;
  background-image: url("../multimedia/headerdonde.jpg");
}

.header-contacto {
  height: 70vh;
  background-image: url("../multimedia/headercontacto.jpg");
}

.header .header__title {
  padding-top: 10%;
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  color: whitesmoke;
  text-shadow: 2px 0 0 black;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.header .header__maintitle {
  padding-top: 3%;
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  text-shadow: 2px 0 0 black;
  font-size: 7rem;
}

.nav {
  background-color: rgba(0, 0, 0, 0.144);
}

.nav .nav-link:hover {
  color: #f3ba00 !important;
}

.nav .nav__navbar {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 2rem;
}

/* FOOTER */
.footer {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3ba00), to(#4e4e4e));
  background-image: linear-gradient(to bottom, #f3ba00, #4e4e4e);
}

.footer__form {
  width: 50%;
}

.footer__text {
  padding: 1%;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
}

/* DATOS GENERALES */
h1 {
  font-family: 'Oswald', sans-serif;
  color: #420705;
  text-align: center;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  color: #4e4305;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  text-align: center;
}

.sectiontitle {
  width: 80%;
}

.sectiontitle__title {
  font-family: 'Oswald', sans-serif;
  color: #420705;
  text-align: center;
  font-size: 5rem;
  padding: 4%;
}

p {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

/* INDEX */
.indexingredientes {
  margin-top: 5%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.indexfoto {
  height: 80vh;
  background-image: url("../multimedia/indexfoto.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.indexgaleria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
}

.indexgaleria__card:hover {
  opacity: 80%;
}

/* QUIENES SOMOS */
#historia {
  text-align: center;
}

#galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.galeria2:hover {
  opacity: 85%;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

/* NUESTRAS BIRRAS */
#nuestrasbirras {
  padding: 4%;
  text-align: center;
}

.gridgaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "foto1 foto2 foto2 foto2" "foto3 foto3 foto3 foto4" "foto5 foto6 foto6 foto6";
}

.itema {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
}

.itemb {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: foto2;
}

.itemc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: foto3;
}

.itemd {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: foto4;
}

.iteme {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foto5;
}

.itemf {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: foto6;
}

.fotosgrid {
  width: 100%;
  display: block;
}

.fotosgrid:hover {
  opacity: 80%;
}

/* CONTACTO */
#textoformulario {
  text-align: left;
}

#tituloform {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

#cajaformulario {
  width: 70%;
  margin-left: 15%;
}

#textoformulario {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}

.botones {
  margin-left: 1%;
}
/*# sourceMappingURL=style.css.map */