@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap');
@import "variables";
@import "typography";
@import "header";
@import "footer";
@import "home";
@import "quienessomos";
@import "nuestrasbirras";
@import "cerveblog";
@import "contact";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}








